@import "tailwindcss";

:root {
  --background: url("/images/bg.svg");
  --foreground: #171717;

  --color-sandyellow: "#d4ca99";
  --color-cyanbright: "#00ffff";
  --color-darkcharcoal: "#1c1c1c";
  --color-purplevibe: "#9a65c4";
  --color-lightgray: "#c0c0c0";
  --color-greenpastel: "#b1f489";
  --color-redfiery: "#eb574c";
  --color-pinksoft: "#ebb4b8";
}

@font-face {
  font-family: "joystix";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Joystix/joystix.otf") format("opentype");
}

@font-face {
  font-family: "strenuoes";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Strenuoes/strenuous.otf") format("opentype");
}

@font-face {
  font-family: "usuzi";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Usuzi/usuzi.ttf") format("opentype");
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-orbitron: var(--font-orbitron);
  --font-azeret_mono: var(--font-azeret_mono);
  --font-joystix: joystix;
  --font-strenuoes: strenuoes;
  --font-usuzi: usuzi;

  --text-shadow-white: 0px 0px 8.9px 0px rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url("/images/bg.svg");
    --foreground: #ededed;
  }
}

body {
  background: var(--background, #10110e);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-gradient-1 {
  background: linear-gradient(0deg, #b1f489, #b1f489),
    linear-gradient(180deg, #f4c46a 0%, #8e723e 100%),
    linear-gradient(0deg, #aa9f65 0%, #e3daac 100%);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback */
  text-fill-color: transparent; /* fallback */
}

.text-gradient-2 {
  background: linear-gradient(
    188.47deg,
    rgba(177, 244, 137, 0.48) 18.62%,
    #b1f489 53.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  user-select: none;
}

.text-gradient-3 {
  background: linear-gradient(180deg, #f95d51 16%, #8b2f28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  user-select: none;
}

.text-gradient-4 {
  background: linear-gradient(180deg, #c0c0c0 24.97%, #5a5a5a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  user-select: none;
}

.text-gradient-5 {
  background: linear-gradient(180deg, #ffffff 41.83%, #5a5a5a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  user-select: none;
}

.text-gradient-6 {
  background: linear-gradient(180deg, #f4c46a 0%, #8e723e 100%),
    linear-gradient(0deg, #aa9f65 0%, #e3daac 100%);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback */
  text-fill-color: transparent; /* fallback */
}

.text-gradient-7 {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #b1f489, #b1f489);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback */
  text-fill-color: transparent; /* fallback */
}

.text-gradient-8 {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(99.48deg, rgba(177, 244, 137, 0.48) 0.84%, #b1f489 73.69%);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback */
  text-fill-color: transparent; /* fallback */
}

.text-gradient-9 {
  background: linear-gradient(180deg, #ffffff 0%, #cdcdcd 100%);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback */
  text-fill-color: transparent; /* fallback */
}

.bg-menu {
  background: linear-gradient(180deg, #1c1c1c 0%, #b1f489 100%);
  box-shadow: 0px 0px 16px 0px #21212199 inset;
  box-shadow: 0px 0px 80px 0px #212121 inset;
}

@layer utilities {
  .custom-number-input::-webkit-outer-spin-button,
  .custom-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input {
    -moz-appearance: textfield; /* Firefox */
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

.bg-btn-best-wallet {
  background: linear-gradient(
      180deg,
      #aa9f65 0%,
      #706842 3.19%,
      #706842 97.43%,
      #aa9f65 100%
    ),
    linear-gradient(0deg, #e3daac, #e3daac);
  max-width: 380px;
  height: 56.5;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-width: 0.43px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.86px #212121;
  box-shadow: 0px 0px 8px 0px #bffd9c7a;
}

.bg-btn-other-connect-wallet {
  background: linear-gradient(
      180deg,
      #244a32 0%,
      #172f21 3.19%,
      #20442f 97.43%,
      #244a32 100%
    ),
    linear-gradient(0deg, #bffd9c, #bffd9c);
  max-width: 380px;
  height: 56.5;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-width: 0.43px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.86px #212121;
  box-shadow: 0px 0px 8px 0px #bffd9c7a;
}

.bg-btn-buy-with-solana {
  background: 0.43px solid;
  background: linear-gradient(266.92deg, #00ffa3 0.43%, #dc1fff 100.7%);
  box-shadow: 0px 0px 0px 0.86px #212121;
  box-shadow: 1px -1px 8px 0px #00ffa3;
  box-shadow: -1px 1px 8px 0px #dc1fff;
}
